* {
    margin: 0;
    padding: 0;
}

main {
    background-color: rgb(105, 214, 238);
    /* height: 86vh; */
    color: white;

}

header {
    background-color: rgb(60, 255, 0);
    color: black;
    height: 8vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.untextdec {
    /* color: aqua;
    background-color: brown; */
    font-style: normal;
}

.untextdec p{
    text-decoration: none;
}

a:link {
  text-decoration: none;
}

footer {
    background-color: rgb(0, 4, 255);
    height: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marginsmall {
    margin-right: 3vw;
}

.input{
    padding-left: 2.5vmin;
    font-size: 1.5em;
    border-radius: 2vmin;
}

.logotop {
    margin-right: 7vw;
    height: 7vh;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 2em;
    font-weight: 600;
    color: rgb(255, 0, 0);
}

.searchbar {
    width: 50vw;
    height: 5vh;
    border: 0.1vh;
}

nav ul li {
    display: inline-block;
    list-style: none;
    text-decoration: underline;
    color: black;
    font-size: medium;
}

.centertext {
    text-align: center;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 4vh 0 2vh 0;
}

.slidimg1 {
    width: 60vw;
    height: 50vh;
    margin: 0;
    transform: translate(-50vw);
    animation: slidear1 1s forwards ease-in 0.5s;
}

.slidimg2 {
    width: 60vw;
    height: 50vh;
    margin: 0;
    transform: translate(50vw);
    animation: slidear2 3s backwards ease-in 0.5s;

}

.horizonparent {
    background-color: rgb(255, 201, 201);

}

.horizontitle {
    margin: 0vh 0vh;
    /* background-color: rgb(255, 255, 255); */

}

.horizon {
    margin: 0vh 0vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: scroll;
    scrollbar-width: 5px;
    padding: 1.5vh 0;

}



.horizonl {
    /* margin: 0vh 1vw 0vw 1vw; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* background-color: blue; */
    overflow: scroll;
    padding: 1.5vh 0;
    scrollbar-width: 5px;
    /* background-color: rgb(255, 255, 255); */


}

.card1 {
    margin: 1vh 4vw 1vh 2vw;
    height: 30vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    color: crimson;
    background-color: rgb(0, 199, 23);
    border-radius: 3vmin;
}

.card2 {
    width: 15vw;
    height: 30vh;
    margin: 1vh 4vw 3vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 217, 0);
    background-color: rgb(0, 99, 165);
    border-radius: 3vmin;

}

.card0 {
    width: 15vw;
    height: 30vh;
    margin: 1vh 4vw 3vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    color: rgb(61, 255, 158);
    background-color: rgb(255, 0, 191);
    border-radius: 3vmin;
}

.cardp {
    height: 3vh;
}

.sim {
    text-align: center;
    /* background-color: aqua; */
    white-space: pre;
    font-size: 1.9em;
}



.imgc {
    width: 15vw;
    aspect-ratio: 1.8/1;
}

@keyframes slidear1 {
    from {

        transform: translate(-50vw);

    }

    to {

        transform: translate(25vw);
    }
}

@keyframes slidear2 {
    from {
        transform: translate(50vw);
    }

    to {
        transform: translate(-25vw);
    }
}