* {
    margin: 0;
    padding: 0;
}

.containerb{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{

    display: flex;
    align-items: center;
    /* min-height: 100vh;
    min-width: 100vw; */
    box-sizing: border-box;
    transform: translate(-12.5vw, 11vh);


}

.base {
    min-width: 50vh;
    min-height: 50vh;
    border-radius: 50vh;
    border: 2vh rgb(88, 9, 9) solid;
    box-sizing: border-box;

}

.clock {
    min-width: 50vh;
    min-height: 50vh;
    border-radius: 50vh;
    border: 1vh white solid;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    box-sizing: border-box;

}

.time {
    position: absolute;
}

#hour {
    position: absolute;
    min-height: 14vh;
    max-width: 1.4vh;
    background-color: black;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
}

#minute {
    position: absolute;
    min-height: 18.66vh;
    max-width: 1vh;
    background-color: red;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;

}

#second {
    position: absolute;
    min-height: 22.66vh;
    max-width: 0.5vh;
    background-color: blue;
    border-top-left-radius: 1.5vh;
    border-top-right-radius: 1.5vh;
}

#ms {
    position: absolute;
    min-height: 6.66vh;
    max-width: 0.25vh;
    background-color: green;
    border-top-left-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
}

.sup {
    visibility: hidden;
}