* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: black;
}

.shipcontainer{
    background-color: black;
    overflow: hidden;
    height: 100vh;
}

.tittatoo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3vh 0 2vh 0;
    flex-wrap: wrap;
    background-color: black;
}

.gameact{
    margin: 2vmin;
}

.gridmaster {
    display: grid;
    grid-template-columns: repeat(16, 4.6vh);
    grid-template-rows: repeat(16, 4.6vh);
    border: 0.05vh white solid;
    background-color: #1dc604;
    /* padding-bottom: 1vh; */
}

.gridchild {
    /* border: 0.05vh white solid; */
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F1D3B2;

}

.boxos {
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
    min-width: 60%;
    min-height: 60%;
    cursor: pointer;
    align-content: center;
    border-radius: 3vh;
    color: #F1D3B2;

}


/* #A43820 */

.gamebar {
    background: #46211A;
    height: 8.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listhead {
    display: flex;
    background-color: #46211A;
    height: 6vh;
    align-items: center;
    border-radius: 2vh;
    margin: 0;
}

.item {
    margin: 2vh;
    list-style: none;
    color: azure;
    font-size: 2em;

}

.scorecard {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;

}

.someno {
    display: flex;
    justify-content: center;
    align-content: center;
}

.scorex {
    margin: 0 0 0 2vh;
    border: 1vh rgb(54, 14, 231) solid;
    border-right: 1vh rgb(14, 231, 14) solid;
    border-left: 1vh rgb(14, 231, 14) solid;

}

.scorey {
    margin: 0 0vh;
    border: 1vh red solid;
    border-left: 0;
}


.scoralpha {
    margin: 1% 0;
    text-align: center;
    height: 20vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.headalpha {
    margin: 1vh 1vh 1vh 1vh;
    font-size: 4vh;
    text-align: center;
    color: #F1D3B2;

}

.line1 {
    min-width: 100%;
    min-height: 0.8vh;
    background-color: white;
    visibility: hidden;
}

.centro{

    text-align: center;
}

.xcard {
    padding: 11% 0;
    font-size: 5vh;
    text-align: center;
    justify-content: center;
    color: #F1D3B2;
}

.ycard {
    padding: 11% 0;
    font-size: 5vh;
    text-align: center;
    justify-content: center;
    color: #F1D3B2;

}

                /* <div class="bellydance">
                    <div class="dance">
                        <button id="playgain">Play Again</button>
                        <button id="resetstat">Reset Stats</button>
                    </div>
                </div> */

.bellydance {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vmin;
}

.dance{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.i1{
    margin: 2vmin 4vmin;
    padding: 1vmin 2vmin;
    font-size: 1.2em;
}

.changed {
    background-color: #F1D3B2;
}

.head {
    background-color: blue;
    border: #ffffff solid 2px;
    z-index: 5;
}

.burger {
    background-color: red;
    z-index: 4;
}

#caption2 {
    color: #F1D3B2;
    font-size: xx-large;

}

.caption {
    color: #F1D3B2;
    font-size: xx-large;
    text-align: center;
}

.gameover {
    margin: 10% 0;
}






