.font1 {
    font-size: x-large;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* background-color: rgb(255, 251, 0); */
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
}


.nav {
    display: flex;
    background-color: black;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 10vh;
    background-color: rgb(0, 150, 250);
    margin: 0;
    padding: 0;
}

.navbar-nav:hover {
    background-color: rgb(62, 62, 62);

    .nav-link {
        color: rgb(247, 45, 45);
    }

    .font3 {
        color: red;
    }

    .nav-link:hover {
        color: rgb(0, 150, 250);
    }
}

.nav-item {
    padding: 3vh 1vw;
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 4vh;
}


.infer {
    /* background-color: darkorange; */
    height: 11%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.5vh 0 0 0;

}

#inp {
    width: 50%;
    box-sizing: border-box;
    height: 75%;
    padding: 0 0 0 2.5%;
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
    border: 1px rgb(126, 126, 126) solid;
}

#inpbutton {
    width: 8%;
    height: 75%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-top-right-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
    border: 1px rgb(126, 126, 126) solid;
}

.display {
    /* background-color: red; */
    height: 77.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* background-color: aliceblue; */
}

.screen {
    /* background-color: rgb(0, 255, 21); */
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: larger;

}

.content {
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 75%;
    justify-content: center;
    align-items: center; 
    box-sizing: border-box;

}

.conty{
    padding: 0 5%;
    font-size: large;
    width: 100%;
}

.first{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40%;
    width:100%;
    background-color: rgb(255, 113, 113);
    box-sizing: border-box;
    font-size: larger;

}

.second{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60%;
    width:100%;
    background-color: rgb(61, 228, 228);
    box-sizing: border-box;
        font-size: larger;

}

/* Analog Display */



* {
    margin: 0;
    padding: 0;
}

.containerb{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY( 0.01vh);
}

.containerc{

    display: flex;
    align-items: center;
    /* min-height: 100vh;
    min-width: 100vw; */
    box-sizing: border-box;


}

.base {
    min-width: 29.4vh;
    min-height: 29.4vh;
    border-radius: 29.4vh;
    border: 2vh rgb(88, 9, 9) solid;
    box-sizing: border-box;

}

.clock {
    min-width: 29.4vh;
    min-height: 29.4vh;
    border-radius: 29.4vh;
    border: 1vh white solid;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 10rem;
    box-sizing: border-box;

}

.time {
    position: absolute;
    color: rgb(0, 175, 175);
}

#hour {
    position: absolute;
    min-height: 9.8vh;
    max-width: 1.4vh;
    background-color: black;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
}

#minute {
    position: absolute;
    min-height: 13.06vh;
    max-width: 1vh;
    background-color: red;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;

}

#second {
    position: absolute;
    min-height: 14.66vh;
    max-width: 0.5vh;                                                         
    background-color: blue;
    border-top-left-radius: 1.5vh;
    border-top-right-radius: 1.5vh;
}

#ms {
    position: absolute;
    min-height: 3.26vh;
    max-width: 0.25vh;
    background-color: green;
    border-top-left-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
}

.sup {
    visibility: hidden;
}