
.font1{
    font-weight: 700;
    font-size: 2.2em;
    color: red;
    text-shadow: white;
    text-align: center;
    align-content: center;
}

.m0{
    margin: 0;
}

@media only screen and (max-width: 800px) {

.font1{
    font-weight: 500;
    font-size: 1.9em;
}

} 